@model MyDocApp.Models.MyDocModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MyDocModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorsName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PainLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PainLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JPMGnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JPMGnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutPatient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutPatient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientNetWorth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientNetWorth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
